/* TODO: look up flex box for sizing and positioning the contents of module_frame */


/* padding and border are counted when calculating the size of the boxes */
* {
    box-sizing: border-box;
}

/* removes */
html, body {
    margin: 0;
    padding: 0;
}

.module-frame {
    min-height: 100vh;
    background-color: #ddd;
    border: solid;
    border-color: #ffffff; 
}

.footer {
    /*position: absolute;
    bottom: 0;*/
    background-color: #ff00ff;
}

 /* Style the tab_wrapper */
.tab-wrapper {
    height: 59px;
    min-width: 300px;
    overflow: hidden;
    background-color: #2976ba;
    padding-left: 10px;
}

/* Style the buttons that are used to open the tab_wrapper content */
.tab-wrapper button {
    background-color: #93bfe6;
    float: left;
    border: none;
    outline: 2px;
    outline-style: solid;
    outline-color: #2976ba;
    cursor: pointer;
    padding: 10px 12px;
    margin-top: 20px;
    margin-right: 2px;
    color: #FFFFFF;
}

/* Change background color of buttons on hover */
.tab-wrapper button:hover {
    background-color: #ddd;
}

/* Create an active/current tab_wrapperlink class */
.tab-wrapper button.active {
    background-color: #ffffff;
    padding: 14px 16px;
    margin-top: 14px;
    color: #333333;
}

/* Style the tab_wrapper content */
.news-item {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: #ffffff;
    margin-left: 4px;
    margin-right: 4px;
} 

/**/
.arrow-link {

}
