/* TODO: look up flex box for sizing and positioning the contents of module_frame */


/* padding and border are counted when calculating the size of the boxes */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* removes */
html, body {
    background-color: #ff00ff;
}

.module-frame {
    min-height: 100vh;
    max-width: 470px;
    margin: 0 auto 0 auto;
    background-color: #ddd;
    border: solid;
    border-width: 3px;
    border-color: #ffffff;
    position: relative;
}

/* Style the tab_wrapper */
.tab-wrapper {
    height: 59px;
    min-width: 300px;
    overflow: hidden;
    background-color: #2976ba;
    padding: 0px 10px 0px 10px;
    position: relative;
}

/* Style the buttons that are used to open the tab_wrapper content */
.tab-wrapper button {
    background-color: #93bfe6;
    float: left;
    border: none;
    outline: 2px;
    outline-style: solid;
    outline-color: #2976ba;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
    margin: 20px 2px 0px 0px;
    color: #FFFFFF;
}

/* Change background color of buttons on hover */
.tab-wrapper button:hover {
    background-color: #ddd;
}

/* Create an active/current tab_wrapperlink class */
.tab-wrapper button.active {
    background-color: #ffffff;
    padding: 14px 16px 14px 16px;
    margin-top: 14px;
    color: #333333;
}

.content-wrapper {
    display: none;
}

/* Style the tab_wrapper content */
.news-item {
    background-color: #ffffff;
    border-top: none;
    margin: 0px 3px 1px 3px;
    min-height: 132px;
} 

.footer {
    position: fixed;
    bottom: 0;
    background-color: #00ffff;
    margin: 0px 3px 6px 3px;
}

/**/
.arrow-link {

}
