* {
    /* padding and border are counted when calculating the size of the boxes */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* used font: verdana */
    font-family: arial;
}

html, body {
    background-color: #f1f1f1;
    /* removes innate margins*/
    margin: 0;
    padding: 0;
}

.module-frame {
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    background-color: #ddd;
    border: 3px solid #ffffff;
    position: relative;
}

.tab-wrapper {
    height: 45px;
    overflow: hidden;
    background-color: #2976ba;
    padding: 0px 10px 0px 10px;
    position: relative;
}

.tab-wrapper button {
    background-color: #93bfe6;
    float: left;
    border: none;
    outline: 1px solid #2976ba;
    cursor: pointer;
    padding: 6px 12px 6px 12px;
    margin: 16px 2px 0px 0px;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

.tab-wrapper button:hover {
    background-color: #ddd;
}

.tab-wrapper button.active {
    background-color: #ffffff;
    padding: 10px 12px 12px 12px;
    margin-top: 10px;
    color: #333333;
}

.content-wrapper {
    display: none;
}

.news-item {
    display: flex;
    background-color: #ffffff;
    border-top: none;
    margin: 0px 3px 1px 3px;
    
}

.news-item__img-column {
    flex: 1;
    float: left;
    text-align: center;
    padding: 17px;
}

.news-item__img-column img {
    border: 2px solid #ddd;
    margin: auto;
}

.news-item__text-column {
    flex: 2;
    float: left;
    padding: 17px 20px 10px 0px;
    flex-direction: column;
}
.text-column__text-elem {
    overflow-wrap: break-word;
    padding-bottom: 5px;
}

.text-column__date {
    font-size: 10px;
    font-weight: bold;
    flex: 1;
}

.text-column__headline {
    flex: 1;
    color: #2d83ce;
    font-size: 18px;
    padding-bottom: 15px;
}

.text-column__preview-text {
    flex: 1;
    font-size: 12px;
    padding-bottom: 10px;
}

.text-column__info-link {
    flex: 1;

}

.info-link__icon {
    color: #2976ba;
}

.info-link__text {
    position: relative;
    top: -8px;
    left: -9px;
    text-decoration: none;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
}

.event-item {
    display: flex;
    background-color: #ffffff;
    border-top: none;
    margin: 0px 3px 1px 3px;
}

.event__text {
    color: #2d83ce;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.footer {
    position: relative;
    bottom: 0;
    background-color: #ffffff;
    padding: 15px;
    min-height: 60px;
    margin: 0px 3px 3px 3px;
}

.footer__link {
    float: right;
    vertical-align: middle;
}
